<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite" verbose="3">
   <test name="Regression testing" preserve-order="true">
    <classes>
     
      <class name="modules.TestNotificationsHome"/>
      
      <!-- <class name="modules.FaqPageTest"/>
      <class name="modules.RegressionSmokeTest"/>
      <class name="modules.LandingPageTest"/>
      <class name="modules.TrackingShipsUsingTrackingTest"/>   -->
      <!-- <class name="modules.AdminSpeedVarianceAlarmSettings"/> 
      <class name="modules.AdminSpeedVarianceVesselSettings"/>
       <class name="modules.ShipprofilesModule"/> 
        <class name="modules.ShipprofilesModule"/>
       <!-- <class name="modules.ZonesTest"/> -->
    </classes>
  </test> 
</suite>
            